name: PriceBot_Execution

on:
  schedule:
    - cron: '0 * * * *' # Roda a cada hora
  workflow_dispatch: # Permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permissão para salvar o histórico no seu GitHub
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Dependências
        run: |
          pip install requests beautifulsoup4 python-telegram-bot==13.15

      - name: Executar Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python Bot.py

      - name: Sincronizar Histórico
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add History.json Affiliates.json product_cache.json || true
          git diff --quiet && git diff --staged --quiet || (git commit -m "bot: atualizando memoria [skip ci]" && git push)
