name: PriceBot Pro Max 3.11
on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Deps
        run: pip install requests beautifulsoup4 python-telegram-bot==13.15

      - name: Run
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python Bot.py

      - name: Save
        run: |
          git config --global user.name "AutoBot"
          git config --global user.email "bot@github.com"
          git add history.json
          git commit -m "update [skip ci]" || exit 0
          git push
